@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #f9f9f9;
    min-width: 400px;
}
.header {
    position: fixed;
    z-index: 1000;
    background-color: #f9fdff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    width: 100%;
    top: 0; /* Añadido para fijar la barra en la parte superior */
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: 100%;
    transition: all 0.3s;
    margin-top: 10px;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}
.header .nav-links a{
    padding: 10px;
    font-size: 900;
    color: #000000; 
    font-weight: 700;
}

.header .nav-links a:hover{
    border-radius: 15px;
    background-color:  #ec7c1cff;
    padding: 10px;
}

.fa-solid .fa{
    color: #2419a9f8;
    font-size: 30px;
    padding: 5px;
}

/**/.menu {
    display:none;
}

.header .btn button,
/**/.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background: #98d404ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
/**/.header .menu button:hover{
    background-color: #ffffff;
    background-color:  #ec7c1cff;
    transform: scale(1.1);
}


/**/@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
}